In [1]:
#import the neccesary libraries
from datetime import datetime
import os
import seaborn as sns
import matplotlib.pyplot as plt
import psycopg2
import time
import matplotlib as mpl
from sklearn.model_selection import GridSearchCV
import xgboost as xgb
from xgboost import plot_importance, plot_tree
import re
from statsmodels.tsa.arima.model import ARIMA
import pmdarima as pm
import itertools
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import pandas as pd
import shap
from fbprophet import Prophet
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import grangercausalitytests
import warnings
warnings.filterwarnings('ignore')
mpl.rcParams['figure.figsize'] = (10, 8)
mpl.rcParams['axes.grid'] = False
pd.set_option('display.max_columns', None)

/Users/hyacinthampadu/miniforge3/envs/py36/lib/python3.8/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [2]:
Db_host='127.0.0.1'
Db_name='postgres'
Db_user='postgres'
Db_pass='Brunei42i'

In [3]:
conn = psycopg2.connect(host=Db_host, dbname=Db_name, user=Db_user,password=Db_pass)
conn.set_session(autocommit=True)
cur = conn.cursor()

In [4]:
df=pd.read_sql_query("SELECT * FROM nft_trades",conn)
df.head()

,chain,collectionaddress,collectionname,exchange,logindex,maker,price,quotecurrency,side,taker,thumbnailurl,timestamp,tokenid,tx,txindex,id
0,eth,0x1a2f71468f656e97c2f86541e57189f59951efe7,CryptoMories,opensea,96,0x4a5d7f0db76d5f079a88130bfb5a38a6e6b85d71,0.400,ETH,sell,0x7f6675eae5bf9731ce448e2bf3923e236303dece,https://storage.googleapis.com/parsec-nft-stor...,1649809419,601.0,0x1bc92ab0cc02a817eb4704c0e4f338becb859c344dee...,36.0,468
1,eth,0x1a2f71468f656e97c2f86541e57189f59951efe7,CryptoMories,opensea,157,0xffab72e1160ce5378c94acb9dfb24008e7e60ec7,0.400,ETH,sell,0x7f6675eae5bf9731ce448e2bf3923e236303dece,https://storage.googleapis.com/parsec-nft-stor...,1649809293,8601.0,0xf898b41d9b16abaef211c5f8552b351c2b56791b004c...,86.0,539
2,eth,0x1a2f71468f656e97c2f86541e57189f59951efe7,CryptoMories,opensea,332,0x6e82ce36948f356adcc9d110f7a7a0138272e5ce,0.460,ETH,sell,0x7f6675eae5bf9731ce448e2bf3923e236303dece,https://storage.googleapis.com/parsec-nft-stor...,1649809174,7680.0,0xd31710d24a3769e4c509dd773365b43d60d9bd6d00a9...,248.0,614
3,eth,0x1a2f71468f656e97c2f86541e57189f59951efe7,CryptoMories,opensea,474,0x60ed33735c9c29ec2c26b8ec734e36d5b6fa1eab,0.500,ETH,buy,0x60af6f3905bac4536aeccaa546d10fe17f4c0d2a,https://storage.googleapis.com/parsec-nft-stor...,1649808589,2298.0,0x772e5887755234953d71f50ef9153a4ad4800a8ef648...,247.0,975
4,eth,0xc92ceddfb8dd984a89fb494c376f9a48b999aafc,Creature World NFT,opensea,97,0x1b30c84e244361a99be770acd57ace184983c83d,0.492,ETH,sell,0x7094e3c9ba4517a5e8e5ca53e9c18e7cc0332bf4,https://storage.googleapis.com/parsec-nft-stor...,1649808197,1208.0,0x1ca271f1a6684494b949d205ad6970755d0b90bca404...,64.0,1185

In [5]:
from datetime import datetime
df['date']=df['timestamp'].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))

In [6]:
df['date']=pd.to_datetime(df['date'])

In [7]:
df['date']=pd.to_datetime(df['date'])
df=df[df['date']>'2021-08-01']

In [8]:
df['price'].describe()

count    3.294970e+05
mean     3.945897e+08
std      5.659790e+10
min     -7.300000e+04
25%      8.000000e-02
50%      4.250000e-01
75%      1.390000e+00
max      2.800000e+13
Name: price, dtype: float64

In [9]:
df=df[df['price']<=np.percentile(df['price'],90)]

In [10]:
df=df.groupby([pd.Grouper(key='date', freq='w'),  'collectionname']).agg({
    'maker':['nunique'],
    'taker':['nunique'],
    'thumbnailurl':['nunique'],
    'tx':['nunique'],
    'price':['min','median']})

In [11]:
len(df)

258

In [12]:
def flatten_columns(df, prefix=''):
    columns = []
    for cs in df:
        if type(cs) is str:
            cs = re.sub('\W+','_', cs)
        elif type(cs) is not list and type(cs) is not tuple:
            print (cs)
            cs = str(cs)
        else:
            cs = re.sub("\W+", "", "".join([str(c) for c in cs]))
        cs = cs.lower()
        if prefix:
            cs = prefix + '' + cs
        cs = re.sub('\+$', '', cs)
        columns.append(cs)
    return columns

In [13]:
df.columns=flatten_columns(df)

In [14]:
df=df.reset_index()

In [15]:
df.head()

,date,collectionname,makernunique,takernunique,thumbnailurlnunique,txnunique,pricemin,pricemedian
0,2021-08-01,Cool Cats NFT,239,204,319,325,0.5500,0.8100
1,2021-08-01,Parallel Alpha,221,222,103,626,0.0200,0.1875
2,2021-08-01,Pudgy Penguins,84,100,174,174,0.0090,0.0150
3,2021-08-08,Cool Cats NFT,889,941,1289,1524,0.1479,1.3000
4,2021-08-08,Parallel Alpha,1772,2259,113,11012,0.0060,0.0990

In [16]:
df=df.rename(columns={'pricemin':'floor_price','pricemedian':'median_price',
                  'makernunique':'num_of_sellers','takernunique':'number_of_buyers','thumbnailurlnunique':'volume_of_assets_traded',
                  'txnunique':'number_of_transcations_index'})

In [17]:
df.head()

,date,collectionname,num_of_sellers,number_of_buyers,volume_of_assets_traded,number_of_transcations_index,floor_price,median_price
0,2021-08-01,Cool Cats NFT,239,204,319,325,0.5500,0.8100
1,2021-08-01,Parallel Alpha,221,222,103,626,0.0200,0.1875
2,2021-08-01,Pudgy Penguins,84,100,174,174,0.0090,0.0150
3,2021-08-08,Cool Cats NFT,889,941,1289,1524,0.1479,1.3000
4,2021-08-08,Parallel Alpha,1772,2259,113,11012,0.0060,0.0990

In [18]:
df['median_price'].describe()

count    258.000000
mean       1.176572
std        1.407723
min        0.000000
25%        0.190250
50%        0.695000
75%        1.445625
max        5.583550
Name: median_price, dtype: float64

In [19]:
df=df[df['floor_price']>0]